<html lang="ko"
      data-useragent="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36"
      class="" data-platform="Win32">
<head>
    <meta charset="UTF-8">
    <title>츠키노야(月の や)료칸&풀빌라</title>
    <meta name="description" id="description" content="거제도펜션,커플,스파,바닷가,복층,럭셔리,외도,키즈랜드,예약안내">
    <meta name="keywords" id="keywords" content="거제도펜션, 커플, 바닷가, 해수욕장">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/swipers.css">

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
    <script async="" src="//fs.bizspring.net/fs4/logger.v4.1.js"></script>
    <script type="text/javascript" defer="" src="//log1.toup.net/mirae_response_load.php?k=rkzbn"></script>
    <script async="" src="//fs.bizspring.net/fs4/bstrk.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>

    <script type="text/javascript" src="js/modify.js" defer=""></script>
    <script type="text/javascript" src="js/swiper.js" defer=""></script>
    <script type="text/javascript" src="js/common.js" defer=""></script>

    <!-- analytics -->
    <!-- //analytics -->
</head>

<body id="special" class="detail special">

<div th:replace="~{layout/header :: headerNavbar}"></div>

<section>

    <div class="section" id="visual"
         style="background-image: url(http://gonylab7.speedgabia.com/solspa/special/3/1.jpg);">
        <div class="InBox">
            <h2 class="ttls">
                <div></div>
                <span>SPECIAL &nbsp;&gt;&nbsp; <b>PHOTO ZONE</b></span><strong>PHOTO ZONE</strong></h2>
        </div>
    </div>
    <div class="section notices"><h3>포토존</h3>
        <p>아름다운 배경과 분위기에서 최고의 사진을 건져보세요</p></div>
    <div class="section contents">
        <div class="section Swipers" id="Swipers">
            <div class="swiper-view">
                <div class="InBox">
                    <div class="swiper-container swiper swiper-container-horizontal">
                        <div class="swiper-wrapper swiper-image">
                            <div class="swiper-slide swiper-slide-active" style="margin-right: 10px;">
                                <div style="background-image:url(http://gonylab7.speedgabia.com/solspa/special/3/2.jpg)"></div>
                            </div>
<!--                            <div class="swiper-slide swiper-slide-next" style="margin-right: 10px;">-->
<!--                                <div style="background-image:url(http://gonylab7.speedgabia.com/solspa/special/3/3.jpg)"></div>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide" style="margin-right: 10px;">-->
<!--                                <div style="background-image:url(http://gonylab7.speedgabia.com/solspa/special/3/4.jpg)"></div>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide" style="margin-right: 10px;">-->
<!--                                <div style="background-image:url(http://gonylab7.speedgabia.com/solspa/special/3/5.jpg)"></div>-->
<!--                            </div>-->
                        </div>
<!--                        <div class="swiper-button-next swiper-btn"></div>-->
<!--                        <div class="swiper-button-prev swiper-btn swiper-button-disabled"></div>-->
<!--                        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span-->
<!--                                class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span-->
<!--                                class="swiper-pagination-bullet"></span><span-->
<!--                                class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="section infos">
            <div class="Lists">
                <ul></ul>
            </div>
        </div>
    </div>

    <div th:replace="~{layout/footer :: footer}"></div>
</section>


</body>
</html>