<html lang="ko"
      data-useragent="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36"
      class="" data-platform="Win32">
<head>
    <meta charset="UTF-8">
    <title>츠키노야(月の や)료칸&풀빌라</title>
    <meta name="description" id="description" content="거제도펜션,커플,스파,바닷가,복층,럭셔리,외도,키즈랜드,예약안내">
    <meta name="keywords" id="keywords" content="거제도펜션, 커플, 바닷가, 해수욕장">
    <link rel="shortcut icon" href="https://luminouspoolvilla.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/swipers.css">

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
    <script async="" src="//fs.bizspring.net/fs4/logger.v4.1.js"></script>
    <script type="text/javascript" defer="" src="//log1.toup.net/mirae_response_load.php?k=rkzbn"></script>
    <script async="" src="//fs.bizspring.net/fs4/bstrk.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>

    <script type="text/javascript" src="js/modify.js" defer=""></script>
    <script type="text/javascript" src="js/swiper.js" defer=""></script>
    <script type="text/javascript" src="js/common.js" defer=""></script>

    <!-- analytics -->
    <!-- //analytics -->
</head>

<body id="rooms" class="detail rooms rooms_01">

<div th:replace="~{layout/header :: headerNavbar}"></div>


<section>
    <br><br><br><br><br>
    <div class="section notices"><h3>DETAIL &amp; INFORMATION </h3></div>
    <div class="section contents">
        <div class="section Swipers" id="Swipers">
            <div class="swiper-view">
                <div class="InBox">
                    <div class="swiper-container swiper swiper-container-horizontal">
                        <div class="swiper-wrapper swiper-image">
                            <div class="swiper-slide swiper-slide-active" style="margin-right: 10px;">
                                <div style="background-image:url(http://gonylab7.speedgabia.com/solspa/room/1/1.jpg)"></div>
                            </div>
                            <div class="swiper-slide" style="margin-right: 10px;">
                                <div style="background-image:url(http://gonylab7.speedgabia.com/solspa/room/1/2.jpg)"></div>-->
                            </div>
                            <div class="swiper-slide" style="margin-right: 10px;">
                                <div style="background-image:url(http://gonylab7.speedgabia.com/solspa/room/1/3.jpg)"></div>
                            </div>
                            <div class="swiper-slide" style="margin-right: 10px;">
                                <div style="background-image:url(http://gonylab7.speedgabia.com/solspa/room/1/4.jpg)"></div>
                            </div>
                            <div class="swiper-slide" style="margin-right: 10px;">
                                <div style="background-image:url(http://gonylab7.speedgabia.com/solspa/room/1/5.jpg)"></div>
                            </div>
                        </div>
                        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                            <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                    var mySwiper  = new Swiper('.swiper-container', {
                                        speed:4000,
                                        loop: true,
                                        autoplay: {
                                            // delay: 3000, // 40초마다 슬라이드 이동
                                            disableOnInteraction: false
                                        }
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section infos">
            <div class="InBox"><h3>객실정보</h3>
                <ul>
                    <li><span class="tl">객실구조</span><span class="tx">풀빌라 복층</span></li>
                    <li><span class="tl">객실크기</span><span class="tx">19평형</span></li>
                    <li><span class="tl">입실인원</span><span class="tx">기준 2명 ~ 최대 5명<b class="adult"></b></span></li>
                    <li><span class="tl">입실/퇴실</span><span class="tx checkInOut">PM 03:00 / AM 11:00</span></li>
                    <li><span class="tl">객실비품</span>
                        <ul class="eq">
                            <li>스파,</li>
                            <li> 유아간의의자(요청시사용가능),</li>
                            <li> 소파,</li>
                            <li> 42인치 티비,</li>
                            <li> 에어컨,</li>
                            <li> 냉장고,</li>
                            <li> 전자렌지,</li>
                            <li> 인덕션,</li>
                            <li> 식기류(그릇,</li>
                            <li> 냄비 등),</li>
                            <li> 더블침대,</li>
                            <li> 화장대,</li>
                            <li> 드라이기,</li>
                            <li> 욕실용품(샴푸,</li>
                            <li>린스,</li>
                            <li>바디워시) 칫솔/치약</li>
                        </ul>
                    </li>
                    <li class="etc"><span class="tl">특이사항</span><span class="tx">캠핑 바베큐장(숯그릴포함) : 50,000원 <br>아이스박스 얼음포함<br>바베큐장 장작 : 20,000원<br>온수비 : 60,000원 (필수 이용)<br>추가인원 비용 : 6세 이상 30,000원<br>5세 이하 20,000원 , 12개월 미만 무료</span>
                    </li>
                </ul>
            </div>
            <div class="InBox"><h3>확인사항</h3>
                <ul>
                    <li>모든 객실은 금연이며 화재의 위험이 있는 양초류의 사용은 불가합니다.</li>
                    <li>객실 구조 및 인테리어는 객실 위치에 따라 이미지와 다를 수 있습니다.</li>
                    <li>데코레이션 업체를 통한 객실 내 장식물 부착은 불가합니다.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section room_menu">

    </div>


</section>

<div th:replace="~{layout/footer :: footer}"></div>

</body>
</html>