<!DOCTYPE html>
<html lang="ko">
<head>
    <title>츠키노야(月の や)료칸&풀빌라</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="viewport" content="width=device-width">

    <meta name="description" id="description" content="거제도펜션,커플,스파,바닷가,복층,럭셔리,외도,키즈랜드,예약안내"/>
    <meta name="keywords" id="keywords" content="거제도펜션, 커플, 바닷가, 해수욕장"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="츠키노야(月の や)료칸&풀빌라">
    <meta property="og:description" content="거제도펜션,커플,스파,바닷가,복층,럭셔리,외도,키즈랜드,예약안내">
    <meta property="og:image" content="http://gonylab7.speedgabia.com/solspa/m/main/1.jpg">
    <meta property="og:url" content="http://pensionsol.net/">
    <meta http-equiv="origin-trial"
          content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"             integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/resources/account/bundles/web.AccountEntry.bundle.css" type="text/css">


    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script type="text/javascript" src="js/digitalnowplus.popup.js" defer></script>


    <link rel="stylesheet" href="/css/base.css">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/account.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>


    <script type="text/javascript" src="js/modify.js" defer></script>
    <script type="text/javascript" src="js/swiper.js" defer></script>
    <script type="text/javascript" src="js/common.js" defer></script>


    <style>
        #myButton {
            margin-top: 12px; /* 조절하고자 하는 픽셀 값 */
        }
    </style>

    <script>

        $(document).ready(function () {
            // 중복확인 버튼
            $("#myButton").on("click", function () {
                const userId = $("#userId").val();

                if(userId == ""){
                    alert("아이디를 입력하세요");
                }
                else{
                    $.ajax({
                        url: "/idCheck.do",
                        type: "POST",
                        data: {userId: userId},
                        success: function (data) {
                            if (data == 1) {
                                alert("중복된 아이디 입니다.");
                                $("#userId").val("");
                            }
                            else {
                                alert("멋진 아이디입니다^^");
                            }

                        },
                        error: function () {
                            alert("실패");
                        }
                    });
                }


            });

            // 회원 가입 버튼
            $("#confirmButton").click(function () {
                if ($.trim($("#userPass").val()) == '' || $.trim($("#userPassCheck").val()) == '') {
                    alert("비밀번호를 다시 입력해주세요");
                    return false;
                } else if ($.trim($("#userName").val()) == '') {
                    alert("이름을 입력해주세요.");
                    return false;
                } else if ($.trim($("#userId").val()) == '') {
                    alert("아이디를 입력 해주세요 ");
                    return false;
                }
            });

            // 개인정보 동의 체크 박스
            $("#insertForm").on("submit", function(event) {
                const checkbox = $("#checkbox");

                if (!checkbox.is(":checked")) {
                    alert("회원가입이 불가합니다. 개인정보에 동의해야 회원가입이 가능합니다!");
                    event.preventDefault();
                }
                else {
                    alert("회원가입이 완료되었습니다!");
                }
            });
        });

        function pwCheck() {
            if ($("#userPass").val() == $("#userPassCheck").val()) {
                $("#pwCheckTxt").text("비밀번호가 일치합니다.").removeClass("Mui-error");
            } else {
                $("#pwCheckTxt").text("비밀번호가 맞지 않습니다.").addClass("Mui-error");
            }
        }
    </script>

</head>

<body>
<div th:replace="~{/layout/header :: headerNavbar}"></div>
<section>
    <div id="container">
        <div class="jss19 jss8">
            <div class="jss9">
                <div class="jss12"></div>
                <!-- 박스-->
                <div class="jss11 jss17">
                    <div class="jss14 cardHeader">
                        <div class="jss15"></div>
                        <span class="jss18"></span>
                    </div>
                    <div class="jss16">
                        <form class="jss1" novalidate="" autocomplete="off" data-gtm-form-interact-id="0"
                              action="/account.do" method="post" id="insertForm">
                            <div class="pageTitle">
                                <div class="jss20"><h1 class="MuiTypography-root MuiTypography-h2">회원가입</h1></div>
                                <div class="jss6">
                                    <div class="MuiGrid-root jss21 MuiGrid-container MuiGrid-spacing-xs-2">
                                        <div class="MuiGrid-root jss22 jss23 jss26 MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-8">
                                            <div class="MuiFormControl-root MuiTextField-root jss29 MuiFormControl-marginNormal MuiFormControl-fullWidth">
                                                <label class="MuiFormLabel-root MuiFormLabel-colorSecondary MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-outlined"
                                                       data-shrink="false">이름</label>
                                                <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorSecondary MuiOutlinedInput-colorSecondary MuiInputBase-fullWidth MuiInputBase-formControl">
                                                    <input aria-invalid="false" type="text" maxlength="10"
                                                           class="MuiInputBase-input MuiOutlinedInput-input" value=""
                                                           name="userName" id="userName">
                                                    <fieldset aria-hidden="true"
                                                              class="jss37 MuiOutlinedInput-notchedOutline"
                                                              style="padding-left: 21px;">
                                                        <legend class="jss38" style="width: 0.01px;"><span>​</span>
                                                        </legend>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jss6">
                                    <div class="MuiGrid-root jss21 MuiGrid-container MuiGrid-spacing-xs-2">
                                        <div class="MuiGrid-root jss22 jss23 jss26 MuiGrid-item MuiGrid-grid-xs-6"><h3
                                                class="MuiTypography-root MuiTypography-h3">회원 정보</h3></div>
                                    </div>

                                    <div class="MuiGrid-root jss21 MuiGrid-container MuiGrid-spacing-xs-2">
                                        <div class="MuiGrid-root jss22 jss23 jss26 MuiGrid-item MuiGrid-grid-xs-8 MuiGrid-grid-sm-8">
                                            <div class="MuiFormControl-root MuiTextField-root jss29 MuiFormControl-marginNormal MuiFormControl-fullWidth">
                                                <label class="MuiFormLabel-root MuiFormLabel-colorSecondary MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-outlined"
                                                       data-shrink="false">아이디</label>
                                                <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorSecondary MuiOutlinedInput-colorSecondary MuiInputBase-fullWidth MuiInputBase-formControl">
                                                    <input aria-invalid="false" type="text" maxlength="15"
                                                           class="MuiInputBase-input MuiOutlinedInput-input" value=""
                                                           name="userId" id="userId">
                                                    <fieldset aria-hidden="true"
                                                              class="jss37 MuiOutlinedInput-notchedOutline"
                                                              style="padding-left: 25.5px;">
                                                        <legend class="jss38" style="width: 0.01px;"><span>​</span>
                                                        </legend>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="MuiGrid-root jss22 jss23 jss26 MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-4">
                                            <button class="MuiButtonBase-root MuiButton-root MuiButton-outlined jss40 jss7 jss39 MuiButton-outlinedSecondary MuiButton-outlinedSizeLarge MuiButton-sizeLarge"
                                                    tabindex="0" type="button" id="myButton">

                                            <span class="MuiButton-label">
                                                <span> 아이디 중복확인</span> </span>
                                                <span class="MuiTouchRipple-root"></span>

                                            </button>


                                        </div>
                                    </div>
                                    <div class="MuiGrid-root jss21 MuiGrid-container MuiGrid-spacing-xs-2">
                                        <div class="MuiGrid-root jss22 jss23 jss26 MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-8">
                                            <div class="MuiFormControl-root MuiTextField-root jss29 MuiFormControl-marginNormal MuiFormControl-fullWidth">
                                                <label class="MuiFormLabel-root MuiFormLabel-colorSecondary MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-outlined"
                                                       data-shrink="false">비밀번호</label>
                                                <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorSecondary MuiOutlinedInput-colorSecondary MuiInputBase-fullWidth MuiInputBase-formControl MuiInputBase-adornedEnd MuiOutlinedInput-adornedEnd">
                                                    <input aria-invalid="false" type="password" maxlength="15"
                                                           class="MuiInputBase-input MuiOutlinedInput-input MuiInputBase-inputAdornedEnd MuiOutlinedInput-inputAdornedEnd"
                                                           value="" name="userPass" id="userPass" oninput="pwCheck()">
                                                    <div class="MuiInputAdornment-root MuiInputAdornment-positionEnd">

                                                    </div>
                                                    <fieldset aria-hidden="true"
                                                              class="jss37 MuiOutlinedInput-notchedOutline"
                                                              style="padding-left: 30px;">
                                                        <legend class="jss38" style="width: 0.01px;"><span>​</span>
                                                        </legend>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--                                Mui-error Mui-error 에러일때 class 추가 / label, div-->
                                    <div class="MuiGrid-root jss21 MuiGrid-container MuiGrid-spacing-xs-2">
                                        <div class="MuiGrid-root jss22 jss23 jss26 MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-8">
                                            <div class="MuiFormControl-root MuiTextField-root jss29 MuiFormControl-marginNormal MuiFormControl-fullWidth">
                                                <label class="MuiFormLabel-root MuiFormLabel-colorSecondary MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-outlined "
                                                       data-shrink="false">비밀번호 확인</label>
                                                <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorSecondary MuiOutlinedInput-colorSecondary  MuiInputBase-fullWidth MuiInputBase-formControl MuiInputBase-adornedEnd MuiOutlinedInput-adornedEnd">
                                                    <input aria-invalid="false" type="password" maxlength="15"
                                                           class="MuiInputBase-input MuiOutlinedInput-input MuiInputBase-inputAdornedEnd MuiOutlinedInput-inputAdornedEnd"
                                                           value="" id="userPassCheck" oninput="pwCheck()">
                                                    <div class="MuiInputAdornment-root MuiInputAdornment-positionEnd">
                                                    </div>
                                                    <fieldset aria-hidden="true"
                                                              class="jss37 MuiOutlinedInput-notchedOutline"
                                                              style="padding-left: 40.5px;">
                                                        <legend class="jss38" style="width: 0.01px;"><span>​</span>
                                                        </legend>
                                                    </fieldset>
                                                </div>

                                                <p class="MuiFormHelperText-root MuiFormHelperText-contained Mui-error"
                                                   id="pwCheckTxt">비밀번호 확인 항목을 입력해주세요.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="MuiFormGroup-root">
                                    <label class="MuiFormControlLabel-root jss60">
                                <span class="MuiButtonBase-root MuiIconButton-root jss61 MuiCheckbox-root MuiCheckbox-colorPrimary jss62 Mui-checked MuiIconButton-colorPrimary"
                                      aria-disabled="false">
                                 <span class="MuiIconButton-label">

                  <path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"></path>
                                     <!--                                     </svg>-->
                                 </span>
                                <span class="MuiTouchRipple-root">

                                </span>
                                </span>

                                        <!-- 추가된 체크박스 -->
                                        <input type="checkbox" id="checkbox" name="checkbox" value="agree">
                                        <label for="checkbox"
                                               class="MuiTypography-root MuiFormControlLabel-label MuiTypography-body1">
                                            개인정보 제공에 동의합니다.</label>
                                     </label>

                                </div>
                            </div>
                            <div class="MuiGrid-root jss21 MuiGrid-container MuiGrid-spacing-xs-2">
                                <!--                            <div class="MuiGrid-root jss22 jss23 jss26 MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-3">-->
                                <button class="MuiButtonBase-root   jss40 jss39 MuiButton-containedPrimary "
                                        tabindex="-1" type="submit" id="confirmButton">
                                    <span class="MuiButton-label"><span>확인</span></span>
                                </button>
                            </div>

                            <!--                        </div>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script id="step" type="application/json"></script>
<script id="_authentication_roles" type="application/json">[]</script>
<script id="_additional_info_map" type="application/json">{
    "PROFILE": "PRODUCTION",
    "MULTI_ACCOMMODATION_STATE": "false"
}</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-G6K4J3ZBG9"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'G-G6K4J3ZBG9');
</script>

<script src="/resources/account/bundles/dd6f0c68.chunk.bundle.js"
        type="text/javascript"></script>
<script src="/resources/account/bundles/aecb736f.chunk.bundle.js"
        type="text/javascript"></script>
<script src="/resources/account/bundles/a861a499.chunk.bundle.js"
        type="text/javascript"></script>
<script src="/resources/account/bundles/web.AccountEntry.bundle.js" type="text/javascript"></script>

<div th:replace="~{/layout/footer :: footer}"></div>

</body>
</html>