<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>츠키노야(月の や)료칸&풀빌라</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <meta name="description" id="description" content="거제도펜션,커플,스파,바닷가,복층,럭셔리,외도,키즈랜드,예약안내"/>
    <meta name="keywords" id="keywords" content="거제도펜션, 커플, 바닷가, 해수욕장"/>

    <meta property="og:type" content="website">
    <meta property="og:title" content="츠키노야(月の や)료칸&풀빌라">
    <meta property="og:description" content="거제도펜션,커플,스파,바닷가,복층,럭셔리,외도,키즈랜드,예약안내">
    <meta property="og:image" content="http://gonylab7.speedgabia.com/solspa/m/main/1.jpg">
    <meta property="og:url" content="http://pensionsol.net/">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>

    <script src="https://player.vimeo.com/api/player.js"></script>

    <script type="text/javascript" src="js/modify.js" defer></script>
    <script type="text/javascript" src="js/swiper.js" defer></script>
    <script type="text/javascript" src="js/common.js" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
            defer></script>
    <script type="text/javascript" src="js/digitalnowplus.popup.js" defer></script>

    <!-- analytics -->
    <!-- //analytics -->

    <script>
        $(document).ready(function () {
            $("#btn-main").on("click", function () {
                location.href = "/main.do";
            });


            $(".btnUserDelete").on("click", function(){
                const selUserId = $(this).attr("id");

                const confirmed = confirm("회원 삭제하시겠습니까?");

                $.ajax({
                    url: "/userDelete.do",
                    type: "POST",
                    data: {selUserId : selUserId},
                    success: function(data){

                        if(confirmed){
                            alert("삭제되었습니다.");
                            location.href = "/adminPage.do";
                        }

                    },
                    error: function (){
                        alert("통신 실패");
                    }
                })
            })

        });
    </script>

</head>
<body id="community" class="tables">
<div th:replace="~{layout/header :: headerNavbar}"></div>

<section>
    <div class="section banner" id="Banner">
        <div class="InBox">
            <h2 class="ttls">
                <div></div>
                <span> CHECK USER INFO & RESERVATION</span>
                <strong>ADMIN PAGE</strong>
            </h2>
        </div>
    </div>

    <div class="container mt-5">
        <h3>MY INFORMATION</h3>
        <div class="card mt-3">
            <div class="card-body">
                <div class="ms-1 mb-3 row">
                    <label for="user-id" class="col-sm-2 col-form-label">ID</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="user-id"
                               th:value="${session.userId}">
                    </div>
                </div>
                <div class="ms-1 mb-3 row">
                    <label for="user-name" class="col-sm-2 col-form-label">NAME</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="user-name"
                               th:value="${session.userName}">
                    </div>
                </div>
                <div class="ms-1 mb-3 row">
                    <label for="user-regidate" class="col-sm-2 col-form-label">CREATE DATE</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="user-regidate"
                               th:value="${session.userRegidate}">
                    </div>
                </div>
            </div>
        </div>

        <h3 class="mt-5">USER INFO</h3>
        <div class="card mt-3 p-3">
            <div class="card-body">
                <table class="table table-hover table-striped text-center align-middle">
                    <colgroup>
                        <col style="width: 10%">
                        <col style="width: 20%">
                        <col style="width: 20%">
                        <col style="width: 20%">
                        <col style="width: 20%">
                        <col style="width: 10%">
                    </colgroup>

                    <thead>
                    <tr>
                        <th>순번</th>
                        <th>아이디</th>
                        <th>이름</th>
                        <th>회원가입일</th>
                        <th>회원정보 업데이트일</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${userList.size()} > 0" th:each="item : ${userList}">
                        <td th:text="${item.userSeq}">순번</td>
                        <td th:text="${item.userId}" id="sel-user-id">아이디</td>
                        <td th:text="${item.userName}">이름</td>
                        <td th:text="${item.userRegidate}">회원가입일</td>
                        <td th:text="${item.userUpdateDate}">회원정보 업데이트일</td>

                        <td th:if="${item.userDeletedYn} == 'N'"><button type="button" class="btn btn-primary btnUserDelete" th:attr="id=${item.userId}">탈퇴</button></td>
                        <td th:unless="${item.userDeletedYn} == 'N'"><button type="button" class="btn btn-danger" disabled>탈퇴됨</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <h3 class="mt-5">USER RESERVATION</h3>
        <div class="card mt-3 p-3">
            <div class="card-body">
                <div th:if="${#lists.size(userReservationList)} > 0" th:each="item : ${userReservationList}">
                    <div class="border-bottom border-top mb-2">
                        <div class="ms-1 mb-3 row">
                            <label for="reservationId" class="col-sm-2 col-form-label">유저 아이디</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="reservationId"
                                       th:value="${item.reservationId}">
                            </div>
                        </div>

                        <div class="ms-1 mb-3 row">
                            <label for="reservationDate" class="col-sm-2 col-form-label">예약날짜</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="reservationDate"
                                       th:value="${item.reservationDate}">
                            </div>
                        </div>

                        <div class="ms-1 mb-3 row">
                            <label for="reservationDate" class="col-sm-2 col-form-label">방정보</label>
                            <div class="col-sm" th:if="${item.reservationRoomType1} == null">
                            </div>
                            <div class="col-sm" th:unless="${item.reservationRoomType1} == null">
                                <input type="text" readonly class="form-control-plaintext"
                                       th:value="|${item.reservationRoomType1}, ${item.roomType1PersonCnt}명|">
                            </div>
                            <div class="col-sm" th:if="${item.reservationRoomType2} == null">
                            </div>
                            <div class="col-sm" th:unless="${item.reservationRoomType2} == null">
                                <input type="text" readonly class="form-control-plaintext"
                                       th:value="|${item.reservationRoomType2}, ${item.roomType2PersonCnt}명|">
                            </div>
                            <div class="col-sm" th:if="${item.reservationRoomType3} == null">
                            </div>
                            <div class="col-sm" th:unless="${item.reservationRoomType3} == null">
                                <input type="text" readonly class="form-control-plaintext"
                                       th:value="|${item.reservationRoomType3}, ${item.roomType3PersonCnt}명|">
                            </div>
                        </div>

                        <div class="ms-1 mb-3 row">
                            <label for="checkInDate" class="col-sm-2 col-form-label">체크인</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="checkInDate"
                                       th:value="${item.checkInDate}">
                            </div>
                        </div>

                        <div class="ms-1 mb-3 row">
                            <label for="checkOutDate" class="col-sm-2 col-form-label">체크아웃</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="checkOutDate"
                                       th:value="${item.checkOutDate}">
                            </div>
                        </div>
                    </div>
                </div>
                <div th:unless="${#lists.size(userReservationList)} > 0">
                    <span>조회 결과 없음</span>
                </div>
            </div>
        </div>


        <div style="height: 100px"></div>
    </div>
</section>


<div th:replace="~{/layout/footer :: footer}"></div>

</body>
</html>