<html lang="ko"
      data-useragent="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36"
      class="" data-platform="Win32">
<head>
    <meta charset="UTF-8">
    <title>츠키노야(月の や)료칸&amp;풀빌라</title>
    <meta name="description" id="description" content="거제도펜션,커플,스파,바닷가,복층,럭셔리,외도,키즈랜드,예약안내">
    <meta name="keywords" id="keywords" content="거제도펜션, 커플, 바닷가, 해수욕장">
    <link rel="shortcut icon" href="https://luminouspoolvilla.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/swipers.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
    <script async="" src="//fs.bizspring.net/fs4/logger.v4.1.js"></script>
    <script type="text/javascript" defer="" src="//log1.toup.net/mirae_response_load.php?k=rkzbn"></script>
    <script async="" src="//fs.bizspring.net/fs4/bstrk.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>

    <script type="text/javascript" src="js/modify.js" defer=""></script>
    <script type="text/javascript" src="js/swiper.js" defer=""></script>
    <script type="text/javascript" src="js/common.js" defer=""></script>

    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- analytics -->
    <!-- //analytics -->



</head>

<body>
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide bg-warning" style="height: 100px">Slide 1</div>
        <div class="swiper-slide bg-danger" style="height: 100px">Slide 2</div>
        <div class="swiper-slide bg-primary" style="height: 100px">Slide 3</div>
    </div>

    <!-- 페이징 필요시 추가 -->
    <div class="swiper-pagination"></div>
    <!-- 이전, 다음 버튼 필요시 추가 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- 스크롤 필요시 추가 -->
    <div class="swiper-scrollbar"></div>

    <script>
        new Swiper('.swiper', {
            // direction: 'vertical', // 슬라이드 진행 방향, 기본값 horizontal(가로)

            // autoplay: true 도 가능하지만 객체 데이터로 할당하면 추가적인 옵션 설정 가능
            autoplay: {
                // 자동재생 여부
                delay: 5000, // 시작시간 설정
            },
            loop: true, // 반복재생 여부
            slidesPerView: 3, // 한번에 보여줄 슬라이드 개수
            spaceBetween: 10, // 슬라이드 사이 여백
            centeredSlides: true, // 1번 슬라이드가 가운데 보이기

            // 페이저 버튼 사용자 설정
            pagination: {
                // 페이지 번호 요소 선택자
                el: '.promotion .swiper-pagination',

                // 사용자의 페이지 번호 요소 제어 가능 요소 (사용자가 단순히 시각적으로만 보는것 뿐만아니라 눌러서 제어할 수 있는지에 대한 여부)
                clickable: true,
            },

            // nav 화살표 출력 시 추가
            navigation: {
                prevEl: '.swiper-prev',
                nextEl: '.swiper-next',
            },

        });
    </script>
</div>
</body>
</html>