<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


    <script>
        $(document).ready(function () {
            $("button[name=btnDelete]").on("click", function () {
                var reviewNum = $(this).attr("id");

                const confirmed = confirm("삭제하시겠습니까?")

                if (confirmed) {
                    $.ajax({
                        url: "/reviewDelete.do",
                        type: "POST",
                        data: {reviewNum: reviewNum},
                        success: function (data) {

                            alert("삭제되었습니다.");
                            location.href = "/reviewList.do"
                        },
                        error: function () {
                            alert("연결 실패");
                        }
                    })
                }
            });
        })
    </script>
</head>

<body>

<div class="container mt-2">
    <div style="height: 50px">
        <div class="row">
            <div class="col-sm">
                <table class="table table-hover table-striped">
                    <colgroup>
                        <col style="width: 5%">
                        <col style="width: 13%">
                        <col style="width: 7%">
                        <col style="width: 55%">
                        <col style="width: 15%">
                        <col style="width: 5%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>아이디</th>
                        <th>평점</th>
                        <th>리뷰</th>
                        <th>작성일</th>
                        <th>삭제</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${#lists.size(reviewList)} > 0" th:each="item : ${reviewList}">
                        <td th:text="${item.reviewNum}"></td>
                        <td th:text="${item.reviewId}"></td>
                        <td th:text="${item.reviewStar}"></td>
                        <td th:text="${item.reviewContent}" class="text-decoration-none"></td>
                        <td th:text="${item.reviewPostdate}"></td>
                        <td>
                            <button class="buttonDelete" th:attrappend="id=${item.reviewNum}" name="btnDelete">삭제
                            </button>
                        </td>
                    </tr>
                    <tr th:unless="${#lists.size(reviewList)} > 0 ">
                        <td colspan="4">조회된 결과가 없습니다.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div><!--리뷰쓰기 하는 곳-->
            <form id="reviewForm" action="/insertReview.do" method="post">
                <!-- 리뷰 별점 부분 -->
                <div class="reviewStar">
                    <input type="radio" id="star5" name="reviewStar" value="⭐️⭐️⭐️⭐️⭐️"/>
                    <label for="star5" title="5 stars">⭐️⭐️⭐️⭐️⭐️</label>
                    <br>
                    <input type="radio" id="star4" name="reviewStar" value="⭐️⭐️⭐️⭐️"/>
                    <label for="star4" title="4 stars">⭐️⭐️⭐️⭐️</label>
                    <br>
                    <input type="radio" id="star3" name="reviewStar" value="⭐️⭐️⭐️"/>
                    <label for="star3" title="3 stars">⭐️⭐️⭐️</label>
                    <br>
                    <input type="radio" id="star2" name="reviewStar" value="⭐️⭐️"/>
                    <label for="star2" title="2 stars">⭐️⭐️</label>
                    <br>
                    <input type="radio" id="star1" name="reviewStar" value="⭐️"/>
                    <label for="star1" title="1 star">⭐️</label>
                </div>


                <div class="mt-3"> <!--사용자 입력란-->
                    <label for="reviewBox" class="form-label"></label>
                    <textarea class="form-control" id="reviewBox" name="reviewContent" rows="5"
                              placeholder="리뷰를 작성해 주세요"></textarea>
                </div>

                <!--등록 취소 버튼-->
                <div class="mt-3">
                    <div class="col-sm d-grid">
                        <button type="submit" class="btn btn-primary">등록</button>
                    </div>
                    <div class="col-sm d-grid">
                        <button type="reset" class="btn btn-secondary" id="btn-cancel">취소</button>
                    </div>
                </div>
            </form>
            <script>
                document.getElementById('reviewForm').addEventListener('submit', function (event) {
                    var stars = document.querySelectorAll('.reviewStar input[type="radio"]');
                    var checked = Array.prototype.slice.call(stars).some(function (el) {
                        return el.checked;
                    });

                    var reviewContent = document.getElementById('reviewBox').value.trim();

                    if (!checked) {
                        alert('별점을 통해 평가를 부탁드립니다');
                        event.preventDefault(); // 폼 제출 방지
                    } else if (reviewContent === '') {
                        alert('리뷰를 입력하세요.');
                        event.preventDefault(); // 폼 제출 방지
                    } else {
                        alert('리뷰가 등록되었습니다.')
                    }
                });
            </script>
        </div>
    </div>
</div>

</body>
</html>