
/*          board List */
.table {
    width: 100%; /* 테이블의 가로 너비를 100%로 설정 */
    /*height: 1px;*/
    margin-bottom: 20px;
}

.custom-bg {
    background-color:#3e7a9f;
    color: whitesmoke;
}
.custom-bg:hover {
    background-color: #3e7a9f; /* 마우스를 갖다 놓았을 때의 배경색을 지정하세요 */
    color: whitesmoke; /* 마우스를 갖다 놓았을 때의 글자색을 지정하세요 */
}
.custom-bg b {
    background-color: #3e7a9f;
    color: whitesmoke; /* 텍스트에 대한 원하는 글자색을 지정하세요 */
}
.custom-bg:active  {
    background-color: #3e7a9f; /* 버튼을 눌렀을 때의 배경색을 지정하세요 */
    color: whitesmoke; /* 버튼을 눌렀을 때의 글자색을 지정하세요 */
}
.custom-bg:focus  {
    background-color: #3e7a9f; /* 버튼을 눌렀을 때의 배경색을 지정하세요 */
    color:#3e7a9f; /* 버튼을 눌렀을 때의 글자색을 지정하세요 */
}

.frm {
    width: 80%; /* 테이블의 가로 너비를 100%로 설정 */
    height: 200px;
    margin-bottom: 10px;
    top: 30px;
    /*margin-left:150px;*/
    margin-left:auto;
    margin-right: auto;
}

.form-floating {
    border-style: dashed;
    border-width : 1.5px;
    border-color: #06293f;
}


/*body {*/
/*    margin-top: 150px;*/
/*}*/


/*      board Detail */
#btn-list img {
    width: 60px; /* 원하는 너비로 설정 */
    height: 60px; /* 높이는 비율에 맞게 자동으로 조절 */
    left: 100px;
}
#btn-delete img {
    width: 50px;
    height: 50px;
    margin-top: -100px;
}
#btn-edit img {
    width: 30px;
    height: 40px;
    left: 150px;
}


/*      board Write  */
.Insert {
    border-style: dashed;
    border-width : 1.8px;

}

.container {
    top: 5px;
    margin-bottom: 50px;
}

#btn-list img {
    width: 60px; /* 원하는 너비로 설정 */
    height: 60px; /* 높이는 비율에 맞게 자동으로 조절 */
}

#check img {
    text-align: end;
    width: 50px; /* 원하는 너비로 설정 */
    height: 50px;
}

#tableSession {
    height: 500px;
}

