<html lang="ko"
      data-useragent="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36"
      class="" data-platform="Win32">
<head>
    <meta charset="UTF-8">
    <title>츠키노야(月の や)료칸&amp;풀빌라</title>
    <meta name="description" id="description" content="거제도펜션,커플,스파,바닷가,복층,럭셔리,외도,키즈랜드,예약안내">
    <meta name="keywords" id="keywords" content="거제도펜션, 커플, 바닷가, 해수욕장">
    <link rel="shortcut icon" href="https://luminouspoolvilla.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/swipers.css">

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
    <script async="" src="//fs.bizspring.net/fs4/logger.v4.1.js"></script>
    <script type="text/javascript" defer="" src="//log1.toup.net/mirae_response_load.php?k=rkzbn"></script>
    <script async="" src="//fs.bizspring.net/fs4/bstrk.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>

    <script type="text/javascript" src="js/modify.js" defer=""></script>
    <script type="text/javascript" src="js/swiper.js" defer=""></script>
    <script type="text/javascript" src="js/common.js" defer=""></script>

    <link rel="stylesheet" href="/css/location.css">
</head>

<body id="about" class="about">

<div th:replace="~{/layout/header :: headerNavbar}"></div>
<section>

    <div class="section" id="visual">
        <div class="InBox">
            <h2 class="ttls">
                <div></div><span> ABOUT OUR<b>SPA&nbsp;POOLVILLA</b></span>
                <strong>OCEANVIEW SOLSPA</strong>
            </h2>

            <div class="MyFrame">
                <iframe src="https://player.vimeo.com/video/657710148?autoplay=1&amp;loop=1&amp;background=1" id="MyVideo" width="100%" height="100%" frameborder="0" allowfullscreen="" data-ready="true" style="width: 1694px; height: 1430px;">
                </iframe>
            </div>
        </div>
    </div>

    <div class="section contents">
        <div class="txt">
            <h3>
                <div></div>
                <img src="http://pensionsol.net/images/abt_txt_01.png" width="auto" height="60" alt="??">
            </h3>
        </div>
        <div class="bg">
            <img src="/images/idx_txt_b.png" width="" height="210" alt="">
        </div>

        <div class="section Swipers cont01">
            <div class="gallery-container">
                <img id="galleryImage" src="/images/infoImage/1.jpg" alt="갤러리 이미지">
                <button id="prevBtn" onclick="changeImage(-1)"></button>
                <button id="nextBtn" onclick="changeImage(1)"></button>
            </div>
            <script src="script.js"></script>
        </div>


        <div class="section cont02" id="location" name="location">
            <div class="title">
                <h3>LOCATION</h3>
                <p>
                    <strong>경남 거제시 장목면 옥포대첩로 1084-4 <br> (경남 거제시 장목면 외포리 589-1)</strong>
                    <span>
                        예약문의 fullstack501 2조 <br>
                        Reservation fullstack501 team2
                    </span>
                </p>
            </div>
            <div class="location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3270.0447333445145!2d128.71312001555668!3d34.955487477036684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35692b95283f0953%3A0x29eb38507332a131!2z6rK97IOB64Ko64-EIOqxsOygnOyLnCDsnqXrqqnrqbQg7Jil7Y-s64yA7LKp66GcIDEwODQ!5e0!3m2!1sko!2skr!4v1635901317782!5m2!1sko!2skr" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>

    <div th:replace="~{/layout/footer :: footer}"></div>

</section>


</body>
</html>