<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@@@@@@@@@@@@@@@</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <meta name="description" id="description" content="거제도펜션,커플,스파,바닷가,복층,럭셔리,외도,키즈랜드,예약안내"/>
    <meta name="keywords" id="keywords" content="거제도펜션, 커플, 바닷가, 해수욕장"/>

    <meta property="og:type" content="website">
    <meta property="og:title" content="츠키노야(月の や)료칸&풀빌라">
    <meta property="og:description" content="거제도펜션,커플,스파,바닷가,복층,럭셔리,외도,키즈랜드,예약안내">
    <meta property="og:image" content="http://gonylab7.speedgabia.com/solspa/m/main/1.jpg">
    <meta property="og:url" content="http://pensionsol.net/">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>


    <script src="https://player.vimeo.com/api/player.js"></script>

    <script type="text/javascript" src="js/modify.js" defer></script>
    <script type="text/javascript" src="js/swiper.js" defer></script>
    <script type="text/javascript" src="js/common.js" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
            defer></script>
    <script type="text/javascript" src="js/digitalnowplus.popup.js" defer></script>


</head>
<!--<body id="about" class="about">-->
<!--<div th:replace="~{/layout/header :: headerNavbar}"></div>-->

<!--<section>-->
<!--    <div class="section" id="visual">-->
<!--        <div class="InBox">-->
<!--            <h2 class="ttls">-->
<!--                <div></div><span> ABOUT OUR<b>SPA&nbsp;POOLVILLA</b></span>-->
<!--                <strong>OCEANVIEW SOLSPA</strong>-->
<!--            </h2>-->
<!--            <div class="MyFrame">-->
<!--                <iframe src="https://player.vimeo.com/video/657710148?autoplay=1&loop=1&background=1" id="MyVideo" width="100%" height="100%" frameborder="0" allowfullscreen=""></iframe>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="section contents" >-->
<!--        <div class="txt">-->
<!--            <h3><div></div><img src="/images/abt_txt_01.png" width="auto" height="60" alt="" ></h3>-->
<!--        </div>-->
<!--        <div class="bg"><img src="/images/idx_txt_b.png" width="" height="210" alt=""></div>-->

<!--        <div class="section Swipers cont01">-->
<!--            <div class="swiper-view">-->
<!--                <div class="InBox">-->
<!--                    <div class="swiper-container swiper swiper-container-horizontal">-->
<!--                        <div class="swiper-wrapper swiper-image" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">-->
<!--                            <div class="swiper-slide swiper-slide-active">-->
<!--                                <div style="background-image: url(http://gonylab7.speedgabia.com/solspa/exterior/1.jpg)"></div>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide swiper-slide-next">-->
<!--                                <div style="background-image: url(http://gonylab7.speedgabia.com/solspa/exterior/2.jpg)"></div>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide">-->
<!--                                <div style="background-image: url(http://gonylab7.speedgabia.com/solspa/exterior/3.jpg)"></div>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide">-->
<!--                                <div style="background-image: url(http://gonylab7.speedgabia.com/solspa/exterior/4.jpg)"></div>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide">-->
<!--                                <div style="background-image: url(http://gonylab7.speedgabia.com/solspa/exterior/5.jpg)"></div>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide">-->
<!--                                <div style="background-image: url(http://gonylab7.speedgabia.com/solspa/exterior/6.jpg)"></div>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide">-->
<!--                                <div style="background-image: url(http://gonylab7.speedgabia.com/solspa/exterior/7.jpg)"></div>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide">-->
<!--                                <div style="background-image: url(http://gonylab7.speedgabia.com/solspa/exterior/8.jpg)"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="swiper-button-next swiper-btn"></div>-->
<!--                        <div class="swiper-button-prev swiper-btn swiper-button-disabled"></div>-->
<!--                        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">-->
<!--                            <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>-->
<!--                            <span class="swiper-pagination-bullet"></span>-->
<!--                            <span class="swiper-pagination-bullet"></span>-->
<!--                            <span class="swiper-pagination-bullet"></span>-->
<!--                            <span class="swiper-pagination-bullet"></span>-->
<!--                            <span class="swiper-pagination-bullet"></span>-->
<!--                            <span class="swiper-pagination-bullet"></span>-->
<!--                            <span class="swiper-pagination-bullet"></span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="section cont02" id="location">-->
<!--            <div class="title">-->
<!--                <h3>LOCATION</h3><p></p>-->
<!--            </div>-->
<!--            <div class="location">-->
<!--                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3270.0447333445145!2d128.71312001555668!3d34.955487477036684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35692b95283f0953%3A0x29eb38507332a131!2z6rK97IOB64Ko64-EIOqxsOygnOyLnCDsnqXrqqnrqbQg7Jil7Y-s64yA7LKp66GcIDEwODQ!5e0!3m2!1sko!2skr!4v1635901317782!5m2!1sko!2skr" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</section>-->



<!--<div th:replace="~{/layout/footer :: footer}"></div>-->
<!--</body>-->

<body id="about" class="about">

<div th:replace="~{/layout/header :: headerNavbar}"></div>

<section>
    <div class="section" id="visual">
        <div class="InBox">
            <h2 class="ttls">
                <div></div><span> ABOUT OUR<b>SPA&nbsp;POOLVILLA</b></span>
                <strong>OCEANVIEW SOLSPA</strong>
            </h2>
            <div class="MyFrame">
                <iframe src="https://player.vimeo.com/video/657710148?autoplay=1&loop=1&background=1" id="MyVideo" width="100%" height="100%" frameborder="0" allowfullscreen style="width: 1694px; height: 1070px;" data-ready="true"></iframe>
            </div>
        </div>
    </div>

    <div class="section contents">
        <div class="txt">
            <h3>
                <div></div>
                <img src="/images/abt_txt_01.png" width="auto" height="60" alt="">
            </h3>
        </div>
        <div class="bg">
            <img src="/images/idx_txt_b.png" width="" height="210" alt="">
        </div>

        <div class="section Swipers cont01">
            <div class="swiper-view">
                <div class="InBox">
                    <div class="swiper-container swiper">
                        <div class="swiper-wrapper swiper-image"></div>
                        <div class="swiper-button-next swiper-btn"></div>
                        <div class="swiper-button-prev swiper-btn"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section cont02" id="location">
            <div class="title">
                <h3>LOCATION</h3>
                <p>
                    <strong>경남 거제시 장목면 옥포대첩로 1084-4 <br> (경남 거제시 장목면 외포리 589-1)</strong>
                    <span>
                        예약문의 fullstack501 2조 <br>
                        Reservation fullstack501 team2
                    </span>
                </p>
            </div>
            <div class="location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3270.0447333445145!2d128.71312001555668!3d34.955487477036684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35692b95283f0953%3A0x29eb38507332a131!2z6rK97IOB64Ko64-EIOqxsOygnOyLnCDsnqXrqqnrqbQg7Jil7Y-s64yA7LKp66GcIDEwODQ!5e0!3m2!1sko!2skr!4v1635901317782!5m2!1sko!2skr" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>

</section>

<div th:replace="~{/layout/footer :: footer}"></div>
</body>

</html>