<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>츠키노야(月の や)료칸&풀빌라</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <meta name="description" id="description" content="거제도펜션,커플,스파,바닷가,복층,럭셔리,외도,키즈랜드,예약안내" />
    <meta name="keywords" id="keywords" content="거제도펜션, 커플, 바닷가, 해수욕장" />

    <meta property="og:type" content="website">
    <meta property="og:title" content="츠키노야(月の や)료칸&풀빌라">
    <meta property="og:description" content="거제도펜션,커플,스파,바닷가,복층,럭셔리,외도,키즈랜드,예약안내">
    <meta property="og:image" content="http://gonylab7.speedgabia.com/solspa/m/main/1.jpg">
    <meta property="og:url" content="http://pensionsol.net/">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/font/nanumbarungothicregular.woff">
    <link rel="stylesheet" type="text/css" href="/font/FuturaStd-Book.woff">

    <script src="https://player.vimeo.com/api/player.js"></script>

    <script type="text/javascript" src="js/modify.js" defer></script>
    <script type="text/javascript" src="js/swiper.js" defer></script>
    <script type="text/javascript" src="js/common.js" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script>
    <script type="text/javascript" src="js/digitalnowplus.popup.js" defer></script>

</head>


<body id="index" class="">
<div th:replace="~{/layout/header :: headerNavbar}"></div>

<div id="snb">
    <div>
        <ul>
            <li><a href="/location.do"><span class="en">ABOUT</span><span class="ko">솔스파</span></a></li>
            <li><a href="/not.do"><span class="en">NOTICE</span><span class="ko">공지사항</span></a></li>
            <li><a href="/travel.do"><span class="en">TRAVEL</span><span class="ko">주변여행지</span></a></li>
            <li><a href="/location.do#location"><span class="en">LOCATION</span><span class="ko">오시는 길</span></a></li>
            <li><a href="/reviewList.do"><span class="en">REVIEW</span><span class="ko">숙소 리뷰</span></a></li>
        </ul>
        <ul>
            <li><a href="/room201.do;"><span class="en">ROOMS</span><span class="ko">객실안내</span></a></li>
            <li><a href="/privatePool.do"><span class="en">SPECIAL</span><span class="ko">특별함</span></a></li>
            <li><a href="/reservation.do"><span class="en">RESERVATION</span><span class="ko">실시간 예약</span></a></li>
            <li th:if="${session.userId} == null">
                <a href="/login.do"><span class="en">LOGIN</span><span class="ko">로그인</span></a>
            </li>
            <li th:unless="${session.userId} == null">
                <a th:if="${session.userCheck} == 1" th:href="@{/adminPage.do}">
                    <span class="en">ADMIN PAGE</span><span class="ko">관리자페이지</span>
                </a>
                <a th:unless="${session.userCheck} == 1" th:href="@{/myPage.do(userId=${session.userId})}"><span class="en">MYPAGE</span><span class="ko">마이페이지</span></a>
            </li>
        </ul>
    </div>
</div>

<section>
    <div class="section Videos" id="Videos">
        <div class="swiper-view">
            <div class="InBox">
                <div class="swiper-container swiper">
                    <div class="swiper-wrapper swiper-image"></div>
                    <div class="swiper-button-next swiper-btn"></div>
                    <div class="swiper-button-prev swiper-btn"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <h2><img src="/images/idx_top_ttl.png" width="847" height="198" alt=""></h2>
        <div id="scroll"><a href="#"><img src="/images/scroll.png" width="106" height="106" alt=""></a> </div>
    </div>

    <div class="section Specials" id="Specials">

        <div class="txt">
            <h3><div></div><img src="images/idx_txt_02.png" width="auto" height="60" alt="" /></h3>
        </div>

        <div class="bg"><img src="images/idx_txt_b.png" width="" height="210" alt="" /></div>

        <div class="InBox">
            <ul>
                <li>
                    <a href="/privatePool.do">
                        <div class="img"><div></div></div>
                        <div class="txt"><strong>PRIVATE POOL</strong><span>개별 수영장</span></div>
                    </a>
                </li>
                <li>
                    <a href="/jacuzziHinoki.do">
                        <div class="img"><div></div></div>
                        <div class="txt"><strong>JACUZZI & HINOKI</strong><span>자쿠지&히노끼</span></div>
                    </a>
                </li>
                <li>
                    <a href="/photoZone.do">
                        <div class="img"><div></div></div>
                        <div class="txt"><strong>PHOTO ZONE</strong><span>포토존</span></div>
                    </a>
                </li>
                <li>
                    <a href="/travel.do">
                        <div class="img"><div></div></div>
                        <div class="txt"><strong>TRAVEL</strong><span>주변여행지</span></div>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="section Vimeos" id="Vimeos">
        <div class="txt">
            <p>거제도 바다를 고스란히 품어 멋과 낭만, 그리고 즐거움까지 담은 특별한 힐링 공간</p>
            <h3><div></div><img src="images/idx_txt_03.png" width="auto" height="60" alt="" /></h3>
        </div>

        <div class="InBox">
            <iframe src="https://player.vimeo.com/video/657710166" width="100%" height="100%" allow="autoplay" frameborder="0" allowfullscreen=""></iframe>
        </div>
    </div>
</section>

<div th:replace="~{/layout/footer :: footer}"></div>

</body>
</html>