<html lang="ko" data-useragent="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36" class="" data-platform="Win32"><head>
    <meta charset="UTF-8">
    <title>츠키노야(月の や)료칸&풀빌라</title>
    <meta name="description" id="description" content="거제도펜션,커플,스파,바닷가,복층,럭셔리,외도,키즈랜드,예약안내">
    <meta name="keywords" id="keywords" content="거제도펜션, 커플, 바닷가, 해수욕장">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/common.css">

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
    <script async="" src="//fs.bizspring.net/fs4/logger.v4.1.js"></script><script type="text/javascript" defer="" src="//log1.toup.net/mirae_response_load.php?k=rkzbn"></script><script async="" src="//fs.bizspring.net/fs4/bstrk.1.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/modify.js" defer=""></script>
    <script type="text/javascript" src="js/reserve.js" defer=""></script>
    <script type="text/javascript" src="js/common.js" defer=""></script>

    <!-- analytics -->
    <!-- //analytics -->
</head>

<body id="reserve" class="tables">
<div th:replace="~{layout/header :: headerNavbar}"></div>


<section>
    <div class="section banner" id="Banner">
        <div class="InBox">
            <h2 class="ttls">
                <div></div><span> CHECK THE&nbsp;<b>GUIDE</b></span>
                <strong>GUIDE</strong>
            </h2>
        </div>
        <div id="scroll"><a href="#"><img src="images/scroll.png" width="107" height="107" alt=""></a></div>
    </div>
    <div class="section contents">
        <div class="InnerBox">


            <div class="frame frame_01" style="display: none;">
                <iframe src="https://booking.ddnayo.com/?accommodationId=13928" width="100%" height="2300" frameborder="0"></iframe>
            </div>

            <div class="frame frame_02" style="display: block;">
                <h2><img src="http://gonylab2.speedgabia.com/common/reserve_top_ttl.jpg" alt="" width="250" height="75"></h2>
                <div class="r_info_01">
                    <h4><img src="http://gonylab2.speedgabia.com/common/reserve_01_ttl.gif" alt="" width="140" height="22"></h4>
                    <table border="1" summary="RESERVATION REFUND GUIDE" id="ROOM_CODE">
                        <thead>
                        <tr>
                            <th rowspan="2" id="room_" class="room_">객실명</th>
                            <th colspan="2" id="people" class="people">인원</th>
                            <th colspan="3" id="price_s1" class="price">비수기</th>
                            <th colspan="3" id="price_s2" class="price">준성수기</th>
                            <th colspan="1" id="price_s3" class="price">성수기</th>

                        </tr>
                        <tr>
                            <th id="normal">기준</th>
                            <th id="max">최대</th>

                            <th id="weekdays1">주중<br>(일~목)</th>
                            <th id="friday1">금요일</th>
                            <th id="weekend1">토요일<br>(공휴일전날)</th>

                            <th id="weekdays">주중<br>(일~목)</th>
                            <th id="friday">금요일</th>
                            <th id="weekend2">토요일<br>(공휴일전날)</th>

                            <th id="weekend">전체</th>
                        </tr>
                        </thead>
                        <caption class="alt">객실정보 및 요금 안내</caption><tbody><tr class="room_0"><th class="tl">201 츠키 (POOL, 히노끼)</th><td class="ad">2명</td><td class="am">5명</td><td colspan="7" rowspan="6" style="line-height:3em;"><a href="#" onclick="return false;" class="rv_dt_btn">실시간예약 참고</a></td></tr><tr class="room_1"><th class="tl">202 히카리 (자쿠지)</th><td class="ad">2명</td><td class="am">4명</td></tr><tr class="room_2"><th class="tl">203 호시 (POOL, 히노끼)</th><td class="ad">2명</td><td class="am">5명</td></tr><tr class="room_3"><th class="tl">401 (스파, 복층)</th><td class="ad">2명</td><td class="am">4명</td></tr><tr class="room_4"><th class="tl">402 (스파, 복층)</th><td class="ad">2명</td><td class="am">4명</td></tr><tr class="room_5"><th class="tl">301 아카리 (자쿠지)</th><td class="ad">2명</td><td class="am">4명</td></tr></tbody></table>
                    <ul class="season">
                        <li>
                            12개월 초과 30,000원 / 201, 202, 203호 해당<br>
                            12개월 초과 20,000원 / 301, 401, 402호 해당<br>

                            12개월 이하 무료
                        </li>
                    </ul>
                </div>
                <div class="r_info_02">
                    <h3><img src="http://gonylab2.speedgabia.com/common/reserve_02_ttl.gif" alt="" width="166" height="22"></h3>
                    <ul class="ENTR_COMM"><li>입실시간: 오후3시 퇴실시간: 오전 11시</li><li>예약된 인원 외 다른사람의 방문을 제한합니다.</li><li>입실이 불가능하며 당일 예약 취소와 동일시 되는 상황 : 예약된 인원 이상 왔을 때, 애완동물과 동반입실할 때</li><li style="color:red;">애견 입실 금지 (적발 시 퇴실 조치)</li><li>객실 내에서 해산물 및 고기요리와 튀김류 조리는 삼가주시기 바랍니다.</li><li>전 객실의 실내는 금연구역이며, 화재 위험이 있는 촛불 및 폭죽사용, 부탄가스 사용은 금지입니다.</li><li>시설물 훼손 및 분실시 책임은 고객님께 부과하오니 객실사용에 신경써 주시기 바랍니다.</li><li>부주의로 인해 일어난 안전사고, 귀중품(현금포함) 분실 및 파손에 대해서는 리조트에 책임을 물을 수 없습니다.</li><li>입금대기인 경우 예약을 원하는 문의가 많으므로 가급적 6시간 이내에 입금 부탁드립니다. 6시간 이후 자동 취소됩니다.</li><li>입금하신 후 12시간 이내에 예약완료 문자를 전송해드립니다. 문자를 받지 못하셨을 경우, 반드시 리조트 측에 연락주시기 바랍니다.</li><li>타인 명의로 입금 시, 확인전화 부탁드리며 당일예약은 출발 전 꼭 입금을 하셔야 합니다.</li><li>마지막 퇴실시에는 실내에 있는 쓰레기는 분리수거해 버려 주시고 사용하신 식기도 세척해 주시기 바랍니다.</li><li>시설물을 이용하시며 개인 안전관리에 각별히 유념해 주시고 본인 부주의에 의한 안전사고는 본인이 책임지게 됩니다.</li></ul>
                </div>
                <div class="r_info_03">
                    <h3><img src="http://gonylab2.speedgabia.com/common/reserve_03_ttl.gif" alt="" width="137" height="22"></h3>
                    <ul class="CNCL_COMM"><li>고객님의 사정에 의해 예약을 취소하시거나, 예약 날짜를 변경하실 경우 예약 취소에 해당되며, 아래와 같이 위약금이 적용되므로 신중히 고려하여 예약해주시기 바랍니다.</li><li>당일 예약하시고 입금한 후 당일 취소하셔도 예약일 기준으로 아래 환불규정에 해당됩니다.</li><li>예약 당일부터 24시까지는 1일 전이며, 그 이후부터 24시간 경과 시 1일씩 경과하는 것으로 계산합니다.</li><li>아래 환불규정은 고객님과 리조트의 공정한 계약이므로 동의하신다면 진행하시기 바랍니다.</li><li>환불은 입금자명으로 되며, 입금 시 송금수수료는 제외한 후 입금됩니다.</li><li>예약취소시 입실일과 관계없이 기본 취소 수수료 10%가 부과됩니다.</li></ul>

                    <h3><img src="http://gonylab2.speedgabia.com/common/reserve_04_ttl.gif" alt="" width="137" height="22"></h3>
                    <table border="1" summary="RESERVATION REFUND GUIDE" id="REFU_PRCE"><caption class="alt">환불규정</caption><thead><tr><th>입실일<br>기준</th><th>1일전</th><th>2일전</th><th>3일전</th><th>4일전</th><th>5일전</th><th>6일전</th><th>7일전</th><th>8일전</th><th>9일전</th><th>10일전</th></tr></thead><tbody><tr><td style="color:#676767;font-weight:13px;font-weight:bold;">취소<br>위약금</td><td>100%</td><td>90%</td><td>80%</td><td>70%</td><td>60%</td><td>50%</td><td>40%</td><td>30%</td><td>20%</td><td>10%</td></tr></tbody></table>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{layout/footer :: footer}"></div>

</section>
</body>
</html>