<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>츠키노야(月の や)료칸&풀빌라</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <meta name="description" id="description" content="거제도펜션,커플,스파,바닷가,복층,럭셔리,외도,키즈랜드,예약안내">
    <meta name="keywords" id="keywords" content="거제도펜션, 커플, 바닷가, 해수욕장">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&amp;display=swap&amp;subset=korean"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--    <link rel="stylesheet" href="/css/base.css">-->
    <link rel="icon" href="/images/favicon.ico">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/base.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


    <script async="" src="//fs.bizspring.net/fs4/logger.v4.1.js"></script>
    <script type="text/javascript" defer="" src="//log1.toup.net/mirae_response_load.php?k=rkzbn"></script>
    <script async="" src="//fs.bizspring.net/fs4/bstrk.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/modify.js" defer=""></script>
    <!--    <script type="text/javascript" src="/js/reserve.js" defer=""></script>-->
    <script type="text/javascript" src="/js/common.js" defer=""></script>

    <script>
        function openModal(imgSrc, title, trfcInfo, gugunNm, addr, homepageUrl) {
            $('#modalContent').html(`
                <img src="${imgSrc}" style="width: 100%" alt="">
                <h5 class="mt-2">${title}</h5>
                <p class="mt-2">교통정보: ${trfcInfo}</p>
                <p class="mt-2">구: ${gugunNm}</p>
                <p class="mt-2">주소: ${addr}</p>
                <p class="mt-2">홈페이지 URL: ${homepageUrl}</p>
            `);
            $('#imageModal').modal('show');
        }

        function testModal(data1, data2) {
            alert(data1);
            alert(data2);
        }
    </script>

</head>
<body id="community" class="tables">

<div th:replace="~{layout/header :: headerNavbar}"></div>

<section>
    <section>
        <div class="section banner" id="Banner">
            <div class="InBox">
                <h2 class="ttls">
                    <div></div>
                    <span> INTRODUCING NEARBY TRAVEL DESTINATIONS</span>
                    <strong>TRAVEL</strong>
                </h2>
            </div>
        </div>

        <div class="section contents">
            <div style="height: 50px;"></div>
            <div class="frame">
                <h3>
                    <strong>주변 관광지</strong>
                    <span>숙소 주변 관광지를 소개합니다.</span>
                </h3>
                <br>
            </div>
        </div>

        <!--    <div style="height: 200px"></div>-->

        <div class="container">
<!--            <div class="d-flex justify-content-center">-->
<!--                <div class="row g-2">-->
<!--                    <div class="col-sm">-->
<!--                        <div class="input-group mb-3">-->
<!--                            <span class="input-group-text">페이지번호</span>-->
<!--                            <input type="text" class="form-control" id="pageNum" placeholder="숫자 입력">-->
<!--                            <span class="input-group-text">한 페이지 결과 수</span>-->
<!--                            <input type="text" class="form-control" id="pageResult" placeholder="숫자 입력">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-2">-->
<!--                        <button type="button" class="btn btn-primary" id="btn-busan-search">검색</button>-->
<!--                        <button class="btn btn-primary d-none" type="button" id="btn-loading" disabled>-->
<!--                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>-->
<!--                            <span class="visually-hidden" role="status">Loading...</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="row row-cols-2 row-cols-md-3">
                <!-- Thymeleaf loop for displaying cards -->
                <div th:if="${#lists.size(busanList)} > 0" th:each="item, iterStat : ${busanList}" class="col-md-3">
                    <div class="card mt-3 cardList" style="width: 18rem;">

                        <!--                API 데이터 불러오는 부분 -->
                        <a data-bs-toggle="modal" data-bs-target="#imageModal"
                           th:onclick="openModal([[${item.getMAIN_IMG_NORMAL()}]], [[${item.getMAIN_TITLE()}]], [[${item.getTRFC_INFO()}]], [[${item.getGUGUN_NM()}]], [[${item.getADDR1()}]], [[${item.getHOMEPAGE_URL()}]]);">
                            <img th:src="${item.getMAIN_IMG_NORMAL()}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <p class="card-text" th:text="${item.getMAIN_TITLE()}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>

        <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mt-2" id="imageModalLabel">Image Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Content to display in the modal -->
                        <div id="modalContent"></div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="~{layout/footer :: footer}"></div>
    </section>
</section>
</body>
</html>