<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>
<footer th:fragment="footer">
    <div id="ft-menu">
        <div class="InBox">
            <ul>
                <li><a href="/location.do">솔스파 </a></li>
                <li><a href="/room201.do">객실안내 </a></li>
                <li><a href="/privatePool.do">특별함 </a></li>
                <li><a href="/location.do#location">오시는길 </a></li>
                <li><a href="/not.do">공지사항 </a></li>
            </ul>
            <div class="ft-rbtn"><a href="/reservation.do">객실 예약하기</a></div>
        </div>
    </div>
    <div id="ft-cont">
        <div class="InBox">
            <h5><a href="/main.do"><img src="/images/ft_logo.jpg" width="109" height="200" alt=""></a></h5>
            <ul class="address">
                <li>홈페이지 제작 문의 <span>Fullstack501 2조</span></li>
                <li><span>부산 IT교육센터</span><br><span>(부산광역시 부산진구 중앙대로 708)</span></li>
            </ul>
        </div>
        <div class="copy">
            <p>
                홈페이지 제작: 2조(신유진, 나찬해, 박수연, 이기호)<br />
            </p>
        </div>
    </div>
</footer>

</body>
</html>