<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

	<meta name="description" id="description" content="거제도펜션,커플,스파,바닷가,복층,럭셔리,외도,키즈랜드,예약안내" />
	<meta name="keywords" id="keywords" content="거제도펜션, 커플, 바닷가, 해수욕장" />

	<meta property="og:type" content="website">
	<meta property="og:title" content="츠키노야(月の や)료칸&풀빌라">
	<meta property="og:description" content="거제도펜션,커플,스파,바닷가,복층,럭셔리,외도,키즈랜드,예약안내">
	<meta property="og:image" content="http://gonylab7.speedgabia.com/solspa/m/main/1.jpg">
	<meta property="og:url" content="http://pensionsol.net/">

	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/css/common.css" />

	<script src="https://player.vimeo.com/api/player.js"></script>

	<script type="text/javascript" src="js/modify.js" defer></script>
	<script type="text/javascript" src="js/swiper.js" defer></script>
	<script type="text/javascript" src="js/common.js" defer></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script>
	<script type="text/javascript" src="js/digitalnowplus.popup.js" defer></script>

</head>
<body>
<header th:fragment="headerNavbar">
	<h1><a href="/main.do"><img src="/images/logo.jpg" width="130" height="170" alt="SOL SPA"></a></h1>
	<hgroup>
		<div>
			<ul>
				<li><a href="/location.do"><span class="en">ABOUT</span><span class="ko">솔스파</span></a></li>
				<li><a href="/not.do"><span class="en">NOTICE</span><span class="ko">공지사항</span></a></li>
				<li><a href="/travel.do"><span class="en">TRAVEL</span><span class="ko">주변여행지</span></a></li>
				<li><a href="/location.do#location"><span class="en">LOCATION</span><span class="ko">오시는 길</span></a></li>
				<li><a href="/reviewList.do"><span class="en">REVIEW</span><span class="ko">숙소 리뷰</span></a></li>
			</ul>
			<ul>
				<li><a href="/room201.do"><span class="en">ROOMS</span><span class="ko">객실안내</span></a></li>
				<li><a href="/privatePool.do"><span class="en">SPECIAL</span><span class="ko">특별함</span></a></li>
				<li><a href="/reservation.do"><span class="en">RESERVATION</span><span class="ko">실시간 예약</span></a></li>
				<li th:if="${session.userId} == null">
					<a href="/login.do"><span class="en">LOGIN</span><span class="ko">로그인</span></a>
				</li>
				<li th:unless="${session.userId} == null">
					<a th:if="${session.userCheck} == 1" th:href="@{/adminPage.do}">
						<span class="en">ADMIN PAGE</span><span class="ko">관리자페이지</span>
					</a>
					<a th:unless="${session.userCheck} == 1" th:href="@{/myPage.do(userId=${session.userId})}"><span class="en">MYPAGE</span><span class="ko">마이페이지</span></a>
				</li>
			</ul>
		</div>
	</hgroup>

	<nav>
		<div class="gb">
			<div>
				<h4>
					<span>ROOMS</span>
					<strong>객실안내</strong>
				</h4>
				<img src="http://gonylab7.speedgabia.com/solspa/m/menu/room.jpg" width="50%" height="auto" alt="">
			</div>
			<div>
				<ul>
					<li><a href="/room201.do"><span>201 TSU (POOL, HINOKI)</span><span>201 츠키 (POOL, 히노끼)</span></a></li>
					<li><a href="/room202.do"><span>202 HIKARI (JACUZZI)</span><span>202 히카리 (자쿠지)</span></a></li>
					<li><a href="/room401.do"><span>401 (SPA&DUPLEX)</span><span>401 (스파, 복층)</span></a></li>
				</ul>
			</div>
		</div>
		<div class="gb">
			<div>
				<h4>
					<span>SPECIAL</span>
					<strong>특별함</strong>
				</h4>
				<img src="http://gonylab7.speedgabia.com/solspa/m/menu/special.jpg" width="50%" height="auto" alt="" />
			</div>
			<div>
				<ul>
					<li><a href="/privatePool.do"><span>PRIVATE POOL</span><span>개별 수영장</span></a></li>
					<li><a href="/jacuzziHinoki.do"><span>JACUZZI & HINOKI</span><span>자쿠지&히노끼</span></a></li>
					<li><a href="/photoZone.do"><span>PHOTO ZONE</span><span>포토존</span></a></li>
				</ul>
			</div>
		</div>
		<div class="gb">
			<div>
				<h4>
					<span>RESERVE</span>
					<strong>예약하기</strong>
				</h4>
				<img src="http://gonylab7.speedgabia.com/solspa/m/menu/about.jpg" width="50%" height="auto" alt="">
			</div>
			<div>
				<ul>
					<li><a href="/reservation.do"><span>RESERVATION</span><span>실시간예약</span></a></li>
					<li><a href="/reservationGuide"><span>GUIDE</span><span>예약안내</span></a></li>
				</ul>
			</div>
		</div>
		<div class="gb">
			<div>
				<h4>
					<span>LOGIN</span>
					<strong>로그인</strong>
				</h4>
				<img src="/images/logo.jpg" width="150px" height="auto" alt="">
			</div>
			<div th:if="${session.userId} == null">
				<ul>
					<li><a href="/login.do"><span>LOGIN</span><span>로그인</span></a></li>
					<li><a href="/account.do"><span>SIGN IN</span><span>회원가입</span></a></li>
				</ul>
			</div>
			<div th:unless="${session.userId} == null">
				<ul>
					<li><a th:if="${session.userCheck} == 1" th:href="@{/adminPage.do}"><span>ADMIN PAGE</span><span>관리자페이지</span></a></li>
					<li><a th:unless="${session.userCheck} == 1" th:href="@{/myPage.do(userId=${session.userId})}"><span>MYPAGE</span><span>마이페이지</span></a></li>
					<li><a href="/logout.do" id="btn-logout"><span>LOGOUT</span><span>로그아웃</span></a></li>
				</ul>
			</div>
		</div>

		<script>
			$("#btn-logout").on("click", function () {
				const confirmed = confirm("로그아웃 하시겠습니까?");

				if (confirmed) {
					location.href = "/login/logout.do";
				}
			});
		</script>
	</nav>

	<div class="rvbtn">
		<a href="/popup/cvd" target="_blank">
			<img src="/images/covid.png" width="83" height="208" alt="">
		</a>
	</div>
</header>
</body>
</html>