<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>츠키노야(月の や)료칸&풀빌라</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <meta charset="UTF-8">
    <title>츠키노야(月の や)료칸&풀빌라</title>
    <meta name="description" id="description" content="거제도펜션,커플,스파,바닷가,복층,럭셔리,외도,키즈랜드,예약안내"/>
    <meta name="keywords" id="keywords" content="거제도펜션, 커플, 바닷가, 해수욕장"/>

    <meta property="og:type" content="website">
    <meta property="og:title" content="츠키노야(月の や)료칸&풀빌라">
    <meta property="og:description" content="거제도펜션,커플,스파,바닷가,복층,럭셔리,외도,키즈랜드,예약안내">
    <meta property="og:image" content="http://gonylab7.speedgabia.com/solspa/m/main/1.jpg">
    <meta property="og:url" content="http://pensionsol.net/">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>

    <script type="text/javascript" src="js/modify.js" defer></script>
    <script type="text/javascript" src="js/swiper.js" defer></script>
    <script type="text/javascript" src="js/common.js" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
            defer></script>
    <script type="text/javascript" src="js/digitalnowplus.popup.js" defer></script>


    <link rel="stylesheet" type="text/css" href="/css/notice.css"/>

    <script>
        $(document).ready(function () {
            $("#btn-list").on("click", function () {
                location.href = "/not.do";
            });
        });
    </script>
</head>

<body id="community" class="tables">
<div th:replace="~{layout/header :: headerNavbar}"></div>

<section>
    <div class="section banner" id="Banner">
        <div class="InBox">
            <h2 class="ttls">
                <div></div>
                <span> CHECK THE&nbsp;
                <b>NOTICE</b></span>
                <strong> NOTICE</strong>
            </h2>
        </div>
    </div>
</section>


<main class="container">
    <section>
        <div class="row mt-4">
<!--            <div class="Insert" style="width: 800px; margin-left: 300px;  height: 600px;">-->
<!--                <form action="/notInsertBoard.do" method="post">-->
<!--                    <div class="Insert">-->
<!--                        <div class="mt-3">-->
<!--                            <label for="user_id" class="form-label" style="font-weight: bold"> 아이디 </label>-->
<!--                            &lt;!&ndash;                        input 태그의 name 속성명을 Dto 클래스의 필드명과 동일하게 사용&ndash;&gt;-->
<!--                            <input type="text" class="form-control vvv" id="user_id" name="noticeId"-->
<!--                                   style="text-align: center"-->
<!--                                   placeholder="아이디를 입력해주세요" th:value="${session.userId}" readonly>-->
<!--                        </div>-->
<!--                        <div class="mt-3">-->
<!--                            <label for="title" class="form-label" style="font-weight: bold">제목 </label>-->
<!--                            <input type="text" style="text-align: center" class="form-control vvv" id="title"-->
<!--                                   name="noticeTitle"-->
<!--                                   placeholder="제목을 입력하세요">-->
<!--                        </div>-->

<!--                        <div class="mt-3">-->
<!--                            <label for="contents" class="form-label" style="font-weight: bold"> 내용 </label>-->
<!--                            <textarea type="text" class="form-control vvv" id="contents" style="text-align: center"-->
<!--                                      name="noticeContent" rows="5"-->
<!--                                      placeholder="내용을 적어주세요"></textarea>-->
<!--                        </div>-->
<!--                    </div>-->


<!--                    <button type="submit" style="text-align: end; margin-left: 330px; " class="btn-insert" id="check">-->
<!--                        <img src="/images/check.jpg" alt="등록"></button>-->

<!--                    <button type="button" style="text-align:start; margin-top: -100px;" class="btn-back" id="btn-list">-->
<!--                        <img src="/images/back.jpg" alt="목록"></button>-->

<!--                    <button type="reset" style="position: relative; bottom: 50px; left: 60px;; " class="btn btn-secondary" id="btn-cancel">-->
<!--                        내용 취소하기-->
<!--                    </button>-->

<!--                </form>-->

<!--            </div>-->

            <div class="Insert" style="width: 800px; margin-left: 300px;  height: 600px;">
                <div class="col-sm mx-auto" >
                    <form action="/notInsertBoard.do" method="post">
                        <div class="mt-3 ms-3 pt-4">
                            <label for="user_id" class="form-label" style="font-weight: bold"> 아이디 </label>
                            <input type="text" class="form-control vvv" id="user_id" name="noticeId" style="text-align: center; width: 95%" placeholder="아이디를 입력해주세요" th:value="${session.userId}" readonly>
                        </div>

                        <div class="mt-3 ms-3">
                            <label for="title" class="form-label" style="font-weight: bold">제목 </label>
                            <input type="text" style="text-align: center; width: 95%;" class="form-control vvv"
                                   id="title"
                                   name="noticeTitle"
                                   placeholder="제목을 입력하세요">
                        </div>

                        <div class="mt-3 ms-3">
                            <label for="contents" class="form-label" style="font-weight: bold"> 내용 </label>
                            <textarea type="text" class="form-control vvv" id="contents"
                                      style="text-align: center; width: 95%;"
                                      name="noticeContent" rows="10"
                                      placeholder="내용을 적어주세요"></textarea>
                        </div>

                        <div class="mt-3">
                            <button type="submit"  class="btn" id="check" style="text-align: end; margin-left: 460px; margin-top: -20px;">
                                <img src="/images/check.jpg" alt="등록"></button>

                            <button type="button" style=" margin-left:-300px; margin-top: -20px; "
                                    class="btn" id="btn-list">
                                <img src="/images/back.jpg" alt="목록"></button>

                            <button type="reset" style="text-align: center; margin-top: -30px;"
                                    class=" btn btn-secondary"
                                    id="btn-cancel">
                                내용 취소하기
                            </button>
                        </div>



                        <!--                        <div class="mt-3">-->
                        <!--                            <label for="user_id" class="form-label" style="font-weight: bold"> 아이디 </label>-->
                        <!--                            &lt;!&ndash;                        input 태그의 name 속성명을 Dto 클래스의 필드명과 동일하게 사용&ndash;&gt;-->
                        <!--                            <input type="text" class="form-control vvv" id="user_id" name="noticeId"-->
                        <!--                                   style="text-align: center; width:350px;"-->
                        <!--                                   placeholder="아이디를 입력해주세요">-->
                        <!--                        </div>-->
                        <!--                        <div class="mt-3">-->
                        <!--                            <label for="title" class="form-label" style="font-weight: bold">제목 </label>-->
                        <!--                            <input type="text" style="text-align: center; width:350px;" class="form-control vvv"-->
                        <!--                                   id="title"-->
                        <!--                                   name="noticeTitle"-->
                        <!--                                   placeholder="제목을 입력하세요">-->
                        <!--                        </div>-->

                        <!--                        <div class="mt-3">-->
                        <!--                            <label for="contents" class="form-label" style="font-weight: bold"> 내용 </label>-->
                        <!--                            <textarea type="text" class="form-control vvv" id="contents"-->
                        <!--                                      style="text-align: center; width:350px;"-->
                        <!--                                      name="noticeContent" rows="10"-->
                        <!--                                      placeholder="내용을 적어주세요"></textarea>-->
                        <!--                        </div>-->


                        <!--                        <button type="submit" style="text-align: end; margin-left: 300px; " class="btn" id="check">-->
                        <!--                            <img src="/images/check.jpg" alt="등록"></button>-->

                        <!--                        <button type="button" style="text-align:start; margin-right: 600px; margin-top: -100px;"-->
                        <!--                                class="btn" id="btn-list">-->
                        <!--                            <img src="/images/back.jpg" alt="목록"></button>-->

                        <!--                        <button type="reset" style="position: relative; bottom: 70px; left: 120px; "-->
                        <!--                                class=" btn btn-secondary"-->
                        <!--                                id="btn-cancel">-->
                        <!--                            내용 취소하기-->
                        <!--                        </button>-->

                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>